# Based on : https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
root = true

# Configuration for all files
[*]
indent_style = tab
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{yml,yaml,json}]
indent_style = space
max_line_length = 80