/// ICONS
$icon-xs: 1.6rem;
$icon-s: 2.4rem;
$icon-m: 3.2rem;
$icon-l: 4.8rem;
$icon-xl: 6.4rem;
$icon-xxl: 8rem;

/// FONT-SIZES
$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-large: 1.6rem;
$font-title-small: 2.4rem;
$font-title-medium: 3.2rem;
$font-title-large: 4rem;

// MEDIA QUERIES
$small-down: 'only screen and (max-width: 600px)';
$medium-down: 'only screen and (max-width: 1200px)';
