@import "colors";
@import "variables";

html {
	font-size: 62.5%;
}

body {
	background-color: $white;
	color: $text;
	font-family: Inter, sans-serif;
	font-size: $font-medium;
}

a {
	color: initial;
	text-decoration: none;
}
