@import "src/cores/assets/scss/main";

.supplier {
	display: flex;
	width: 100%;
	height: 12rem;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.6rem;
	border-radius: 0.4rem;
	margin: 0 0 0.8rem;
	background-color: $white;
	box-shadow: 0 0.1rem 0.4rem $grey;
	cursor: pointer;

	&__content {
		display: flex;
		justify-content: space-between;
	}
}
